# Terraform working directory
.terraform/
.terraform.lock.hcl

# Terraform state (EXTREM wichtig)
*.tfstate
*.tfstate.*

# Sensitive variable files
*.tfvars
*.tfvars.json

# Crash logs
crash.log
crash.*.log

# Terraform CLI config
.terraformrc
terraform.rc

# Overrides (fast nie gewollt)
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Plan files
*.tfplan

# Backend configuration files
backend.hcl