# Copy to backend.hcl and adjust if needed
# Bucket is created by infra/bootstrap

bucket       = "two-tier-app-terraform-state"
region       = "eu-central-1"
encrypt      = true
use_lockfile = true

# Keep state keys unique per environment
key = "two-tier-app/prod/terraform.tfstate"
